<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace= "~{normal/base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>
<body>
    <section>
        <div class="row">
            <div class="col-md-7 offset-md-2">
                <div class="my-card mt-5">
                    <div th:if= "${error}" class="alert alert-warning text-center">
                        Please Enter Same Password !!
                    </div>
                    <div th:if= "${success}" class="alert alert-success text-center">
                        Password Reset Successflly !!
                    </div>
                    <h1 class="text-center">Reset Password !!</h1>
                    <form th:action= "@{/user/doreset}" class="form-group" method="post">
                        <div class="form-group">
                            <label >New Password*</label>
                            <input required max="8" type="password" class="form-control" name="password" id="exampleInputEmail1"
                             placeholder="Enter New Password">
                        </div>
                        <div class="form-group" style="padding-top: 5%;">
                            <label>Conform New Password*</label>
                            <input required max="8" type="text" class="form-control" name="conformPassword"
                                placeholder="Enter Conform New Password">
                        </div>
                        <div class="text-center" id="for-space">
                            <button type="submit" name="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>