<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <section class="about">
        <div class="about-para">
            <div class="card">
                <h2 class="text-center" style="color: red;">About Us</h1>
                    <div class="divider"></div>
                    <p class="about-paragraph">
                        Contact management software is a type of application that helps individuals and organizations
                        keep track
                        of their contacts. <br> It is often used in conjunction with a customer relationship management
                        system,
                        of their contacts. <br> It is often used in conjunction with a customer relationship management
                        system,
                    </p>
                    <button style="color: #ffffff;" class="btn btn-danger">Learn More</button>
            </div>
        </div>
    </section>
</body>

</html>