<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
</head>

<body>
    <section class="signup">
        <div class="container ">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="my-card">
                        <div class="text-center">
                            <h5 th:if="${flag1==true}" class="alert alert-success">
                                Registerd Success !!
                            </h5>
                            <h5 th:if="${flag2==true}" class="alert alert-warning">
                                something Went Wrong !!
                            </h5>
                        </div>
                        <div class="container text-center">
                            <img width="70px" th:src="@{/Img/registor.png}" />
                        </div>
                        <h1 class="text-center">Register Here !!</h1>
                        <form novalidate action="" th:action="@{/do_register}" method="post" class="bold"
                            th:object="${user}">
                            <div class="form-group">
                                <label for="name" class="form-label">Your Name*</label>
                                <input type="text" class="form-control" name="name" id="name"
                                    th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                                    aria-describedby="emailHelp" placeholder="Enter Here" th:value="${user.name}"
                                    required />
                                <div class="invalid-feedback" th:each="e:${#fields.errors('name')}" th:text="${e}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="form-label">Your Email*</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                                    aria-describedby="emailHelp" placeholder="Enter Here" th:value="${user.email}"
                                    required>
                                <div class="invalid-feedback" th:each="e:${#fields.errors('email')}" th:text="${e}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password" class="form-label">Your Password*</label>
                                <input type="password" class="form-control" id="password" name="password"
                                    th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                                    aria-describedby="emailHelp" placeholder="Enter Here" required>
                                <div class="invalid-feedback" th:each="e:${#fields.errors('password')}" th:text="${e}">
                                </div>
                            </div>
                            <div class="form-group ">
                                <textarea placeholder="Enter something yourself" class="form-control" name="about"
                                    rows="2" th:text="${user.about}"
                                    th:classappend="${#fields.hasErrors('about') ? 'is-invalid' : ''}"></textarea>
                                <div class="invalid-feedback" th:each="e:${#fields.errors('about')}" th:text="${e}">
                                </div>
                            </div>
                            <!-- Terms and condition agriment -->
                            <div class="form-group form-check">
                                <input type="checkbox" name="agriment" class="form-check-input" id="agriment" />
                                <label for="agriment">Accept terms and conditions</label>
                            </div>
                            <div class="container text-center" id="btn">
                                <button type="submit" class="btn bg-primary text-white ">Submit</button>
                                <button type="reset" class="btn bg-danger text-white">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>